canvas{
    display: block;
    margin: 0 auto;
    width: 608px;
    height: 608px;
}

html { overflow:  hidden; }
#fullgame{
    margin: 30%;
    width: 500px;
    height: 300px;
    background-color: red;
    display: flex;
    flex-direction: column;
}

#firstgame{
    text-align: center;
    color: gold;
    font-size: 26px;
    margin: 30px;
}

#twogame{
        text-align: center;
        color: gold;
        font-size: 26px;
}

#firsttext{
    text-align: center;
    margin: 0 auto;
}

#twotext{
    text-align: center;
    margin: 100px;
}